// # MAIN THEME

// TEXT COLORS
$primaryText: #b694ff;
$secondaryText: #6b3bd3;

// PRIMARY COLORS
$primaryDark: #1a014e;
$primaryLight: #3a0168;

// SECONDARY COLORS
$secondaryDark: #aa005b;
$secondaryLight: #fd0189;

// MISC
$white: #ffff;
$checkbox: #6b39cf;
$darkerSecondary: #73003d;

// -- MAIN THEME --
